<html>
<head>

<style>
  div.logo {
    background-image: url('/<% data.form %>/<%= data.url %>/logo');
    background-repeat: no-repeat;
    background-size: contain;
    height:64px;
    width:64px;
  }
</style>
</head>
<body>
<div><!-- basic dit info -->
  <div class="logo" ></div>
  <div>
    <div><%= data.form %></div>
    <div><%= data.created %></div>
    <div>tags</div>
  </div>
</div>
<div><!--  -->
  <div>
    <span><%= data.name %></span>
    <span><%= data.form %>:<%= data.url %></span>
    <% if (rights.edit === true) { %><span><a href="/<%= data.form %>/<%= data.url %>/edit">Edit <%= data.form %></a></span><% } %>
  </div>
  <div><%= data.summary %></div>
  <div><h1>about the <%= data.form %></h1><div><%= data.about %></div></div>
</div>
</body>
</html>
