<html>
<head>

<style>
  div.avatar-pic {
    background-image: url('/user/<%= profile.username %>/avatar');
    background-repeat: no-repeat;
    background-size: contain;
    height:64px;
    width:64px;
  }
</style>
</head>
<body>
<div><!-- basic profile info -->
  <div class="avatar-pic" ></div>
  <div>
    <div><%= profile.age %></div>
    <div><%= profile.gender %></div>
    <div>Member since <%= profile.joined %></div>
  </div>
</div>
<div><!--  -->
  <div>
    <span><%= profile.name %></span>
    <span>@<%= profile.username %></span>
    <% if (rights.edit === true) { %><span><a href="/user/<%= profile.username %>/edit">Edit Profile</a></span><% } %></div>
  <div><!-- tags -->
    tags
  </div>
  <div><h1>about me</h1><div><%= profile.about %></div></div>
</div>
</body>
</html>
